
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}



td {
    background: #E91E63;
    text-align: left;
    border: aliceblue solid 1px;
    padding: 10px;
    color: #fff;
}

th {
    background: #9f1644;
    padding: 10px;
    border: #fff solid 1px;
    color: #fff;
}

.home th:first-child {
    visibility: hidden;
}

#result {

    text-align: left;
    color: #fff;
    font-size: 33px;
    background: #00bcd4;
    padding: 11px;
    border-radius: 10px;
}
table a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    background: #00BCD4;
    border-radius: 5px;
    cursor: pointer;
    /* border: antiquewhite solid 1px; */
    margin: 5px;
}

.mybtnstyle {

    float: none;    text-align: center;
    width: 100%;
    background: #03A9F4;
    border: #c39c67;
    border-radius: 4px;
    text-shadow: none;
}

.modal-dialog {
    width: 600px;
    margin: 287px auto;
}