
<div class="section-colored text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>Acme Bank System</h2>
        <p id="result"> {{amount}} </p>

        <hr>
        <center>
          <table class="home">
            <tr>
              <th></th>
              <th>ID</th>
              <th>Account Type</th>
              <th>Balance</th>
              <th>Withdrawals</th>
              <th>Deposits</th>
              <th>Admin Options</th>
            </tr>
            <tr ng-repeat="c1 in mydata2 track by $index">
              <td><a data-toggle="modal" data-target="#view" ng-click="view($index)">View</a></td>
              <td>{{ c1.id }}</td>
              <td>{{ c1.accountname }}</td>
              <td>
              <span ng-if="c1.balance<0">-</span>
              <span ng-if="c1.balance>0">+</span>
               {{ c1.balance | currency:"R"}}
            </td>
              <td><a data-toggle="modal" data-target="#withdraw" ng-click="withdraw($index)" href="">Withdraw</a></td>
              <td><a data-toggle="modal" data-target="#deposit" ng-click="deposit($index)" href="">Deposit</a></td>
              <td><a ng-click="mydata2.splice($index, 1)" href="">Delete Bank Account</a></td>

            </tr>

          </table>
        </center>

      </div>
    </div>
    <!-- /.row -->

  </div>

  <!-- Modal -->
  <div class="modal fade" id="deposit" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{task}}</h4>
        </div>
        <p></p><p></p>
        <input type="text" id="text1" ng-model="money" onkeypress="return IsNumeric(event);" onpaste="return false;" ondrop = "return false;" />
        <span id="error" style="color: Red; display: none">* Type in only digits please (0 - 9)</span>
        <p></p><p></p>
        <div class="modal-footer">
         <button type="button" data-dismiss="modal" class="btn btn-info btn-lg mybtnstyle" ng-click="savedeposit()">Deposit</button>
       </div>

     </div>

   </div>
 </div>
 <div class="modal fade" id="withdraw" role="dialog">
   <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{task}}</h4>
      </div>
      <p></p><p></p>
      <input type="text" id="text1" ng-model="money" onkeypress="return IsNumeric(event);" onpaste="return false;" ondrop = "return false;" />
      <span id="error2" style="color: Red; display: none">* Type in only digits please (0 - 9)</span>
      <p></p><p></p>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-info btn-lg mybtnstyle" ng-click="savewithdraw()">Withdraw</button>
      </div>

    </div>
  </div>

</div>
<div class="modal fade" id="view" role="dialog">
 <div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{task}}</h4>
    </div>
    <p></p><p></p> 
    <center>
      <table>
        <tr>
          <th>Balance</th>
          <th>Amount Processed</th>
          <th>Date</th>
        </tr>
        <tr ng-repeat="x in history" data-ng-init="view()">
          <td> 
            <span ng-if="x.balance<0">-</span>
            <span ng-if="x.balance>0">+</span>
            {{ x.balance | currency:"R"}}
          </td>
          <td>
           <span ng-if="x.amount<0">-</span>
           <span ng-if="x.amount>0">+</span>
           {{ x.amount | currency:"R"}}

         </td>
         <td>{{ x.date }}</td>
       </tr>
     </table>
   </center> <p></p><p></p>
   <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-info btn-lg mybtnstyle" >Done Viewing</button>
  </div>

</div>
</div>

</div>

</div>

<script type="text/javascript">
  var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
          var keyCode = e.which ? e.which : e.keyCode
          var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
          document.getElementById("error").style.display = ret ? "none" : "block";
          document.getElementById("error2").style.display = ret ? "none" : "block";
          return ret;
        }
      </script>